<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YT Manager</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header">
        <h1>YT Manager</h1>
    </div>
    <div class="container">
        <button onclick=location.href="/get_info">Get Info</button>
        <button onclick=location.href="/download">Download</button>
    </div>
    <br>
    <br>
    <div class="description">
        <h2>About YT Manager</h2>
        <p>
            YT Manager is a tool designed to simplify the process of obtaining information and downloading content from YouTube. 
            Whether you're looking for video details or need to download videos for offline viewing, YT Manager provides a user-friendly 
            interface to interact with YouTube's vast library of content.<br>
            YT Menager can help you with downloading videos, playlists or audio from YouTube. You can also download subtitles or descriptions of videos.
        </p>
        <h2>What is Pytube?</h2>
        <p>
            Pytube is a lightweight, dependency-free Python library (and command-line utility) for downloading YouTube Videos. It is aimed at providing a high-level interface for downloading videos, allowing users to quickly and efficiently retrieve YouTube content.
        </p>
    </div>
</body>
</html>